<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:h="http://xmlns.jcp.org/jsf/html"
 	xmlns:f="http://xmlns.jcp.org/jsf/core"
 	xmlns:p="http://primefaces.org/ui"
 	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>

<meta charset="UTF-8"/>
<title>Cadastros</title>

<h:outputStylesheet library="stefanini" name="estilo.css" />

</h:head>

<h:body>
	<h2>
		<ui:insert name="titulo" />
	</h2>

	<div id="conteudo">		
		<ui:insert name="conteudo" />	
	</div>
	
	<footer>
		Desafio Java Jr
		
	</footer>
	
	<h:form>
		<p:confirmDialog global="true">
			<p:commandButton value="Não" icon="fa fa-remove" 
				styleClass="ui-confirmdialog-no"/>
				
			<p:commandButton value="Sim" icon="fa fa-check" 
				styleClass="ui-confirmdialog-yes"/>
		</p:confirmDialog>
	</h:form>
</h:body>

</html>