<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="WEB-INF/template/Layout.xhtml">

	<ui:define name="titulo">
	Cadastros Autores
</ui:define>

	<ui:define name="conteudo">
		<f:metadata>
			<f:viewAction action="#{gestaoAutoresBean.todosAutores}" />
		</f:metadata>

		<h:form id="frm">
			<p:messages id="messages" />

			<p:toolbar id="toolbar" value="Cadastro Autores">
				<f:facet name="left">
					<p:inputText id="termoPesquisa"
						placeholder="Digite aqui um termo para pesquisa..." size="30"
						value="#{gestaoAutoresBean.termoPesquisa}" />

					<p:commandButton value="Pesquisar" icon="fa fa-search"
						actionListener="#{gestaoAutoresBean.pesquisar}"
						update="autoresDataTable messages" process="@this termoPesquisa" />

					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>

					<p:commandButton value="Novo" icon="fa fa-plus"
						actionListener="#{gestaoAutoresBean.prepararNovoAutor}"
						oncomplete="PF('autorDialogWidgetVar').show()"
						update="autorDialog" process="@this">
						<p:resetInput target="autorDialog" />
					</p:commandButton>

					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>

					<p:commandButton value="Editar" title="Editar" icon="fa fa-edit"
						disabled="#{not gestaoAutoresBean.autorSeleciona}"
						oncomplete="PF('autorDialogWidgetVar').show()"
						update="autorDialog" process="@this">
						<p:resetInput target="autorDialog" />
					</p:commandButton>

					<p:commandButton value="Excluir" title="Excluir" icon="fa fa-trash"
						disabled="#{not gestaoAutoresBean.autorSeleciona}"
						actionListener="#{gestaoAutoresBean.excluir}"
						update="messages autoresDataTable toolbar" process="@this" />

					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>


				</f:facet>
			</p:toolbar>

			<p:spacer height="10px" />

			<p:dataTable id="autoresDataTable"
				value="#{gestaoAutoresBean.listaAutores}" var="autor"
				emptyMessage="Nenhuma informação a ser exibida" paginator="true"
				rows="10" paginatorPosition="bottom" selectionMode="single"
				selection="#{gestaoAutoresBean.autor}" rowKey="#{autor.id}">

				<p:ajax event="rowSelect" update="frm:toolbar" />

				<p:ajax event="rowUnselect" update="frm:toolbar" />

				<p:column headerText="Nome" sortBy="#{autor.nome}">
					<h:outputText value="#{autor.nome}" />
				</p:column>

				<p:column headerText="email">
					<h:outputText value="#{autor.email}" />
				</p:column>

				<p:column headerText="Data Nascimento">
					<h:outputText value="#{autor.dataNascimento}" />
				</p:column>

				<p:column headerText="País">
					<h:outputText value="#{autor.pais}" />
				</p:column>
			</p:dataTable>

			<p:dialog id="autorDialog" header="Novo autor"
				widgetVar="autorDialogWidgetVar" modal="true" resizable="false"
				closeOnEscape="true">
				<p:messages id="autorMessages" />

				<p:defaultCommand target="salvarCommandButton" scope="autorDialog" />

				<h:panelGrid id="autorPanelGrid" columns="2"
					rendered="#{gestaoAutoresBean.autor ne null}">
					<p:outputLabel value="Nome: " for="nome" />
					<p:inputText id="nome" size="5" maxlength="120"
						value="#{gestaoAutoresBean.autor.nome}" />

					<p:outputLabel value="Email: " for="email" />
					<p:inputText id="email" size="80" maxlength="80"
						value="#{gestaoAutoresBean.autor.email}" />


					<p:outputLabel value="CPF: " for="cpf" />
					<p:inputMask id="cpf" mask="999.999.999-99" size="11"
						maxlength="11" value="#{gestaoAutoresBean.autor.cpf}" />

					<p:outputLabel value="Data Nascimento: " for="dataNascimento" />
					<p:calendar id="dataNascimento" pattern="dd/MM/yyyy" size="30"
						value="#{gestaoAutoresBean.autor.dataNascimento}" />

					<p:outputLabel value="País: " for="pais" />
					<p:inputText id="pais" size="2" maxlength="30"
						value="#{gestaoAutoresBean.autor.pais}" />

					<p:commandButton id="salvarCommandButton" value="Salvar"
						actionListener="#{gestaoAutoresBean.salvar}"
						update="autorPanelGrid autorMessages"
						oncomplete="if (!args.validationFailed) PF('autorDialogWidgetVar').hide()"
						process="autorDialog" />
				</h:panelGrid>
			</p:dialog>
		</h:form>

		<p:spacer height="40px" />

<ui:define name="tituloObra">
	Cadastros Obras
</ui:define>

		<f:metadata>
			<f:viewAction action="#{gestaoObrasBean.todasObras}" />
		</f:metadata>

		<h:form id="frm">
			<p:messages id="messages" />

			<p:toolbar id="toolbar">
				<f:facet name="left">
					<p:inputText id="termoPesquisa"
						placeholder="Digite aqui um termo para pesquisa..." size="30"
						value="#{gestaoObrasBean.termoPesquisa}" />

					<p:commandButton value="Pesquisar" icon="fa fa-search"
						actionListener="#{gestaoObrasBean.pesquisar}"
						update="obrasDataTable messages" process="@this termoPesquisa" />

					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>

					<p:commandButton value="Novo" icon="fa fa-plus"
						actionListener="#{gestaoObrasBean.prepararNovoAutor}"
						oncomplete="PF('obraDialogWidgetVar').show()" update="obraDialog"
						process="@this">
						<p:resetInput target="obraDialog" />
					</p:commandButton>

					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>

					<p:commandButton value="Editar" title="Editar" icon="fa fa-edit"
						disabled="#{not gestaoObrasBean.obraSeleciona}"
						oncomplete="PF('obraDialogWidgetVar').show()" update="obraDialog"
						process="@this">
						<p:resetInput target="obraDialog" />
					</p:commandButton>

					<p:commandButton value="Excluir" title="Excluir" icon="fa fa-trash"
						disabled="#{not gestaoObrasBean.obraSeleciona}"
						actionListener="#{gestaoObrasBean.excluir}"
						update="messages obrasDataTable toolbar" process="@this" />

					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>


				</f:facet>
			</p:toolbar>

			<p:spacer height="20px" />

			<p:dataTable id="obrasDataTable"
				value="#{gestaoObrasBean.listaObras}" var="obra"
				emptyMessage="Nenhuma informação a ser exibida" paginator="true"
				rows="10" paginatorPosition="bottom" selectionMode="single"
				selection="#{gestaoObrasBean.obra}" rowKey="#{obra.id}">

				<p:ajax event="rowSelect" update="frm:toolbar" />

				<p:ajax event="rowUnselect" update="frm:toolbar" />

				<p:column headerText="Nome Obra" sortBy="#{obra.nome}">
					<h:outputText value="#{obra.nome}" />
				</p:column>

				<p:column headerText="Descricao Obra">
					<h:outputText value="#{obra.descricao}" />
				</p:column>

				<p:column headerText="Data Publicacao">
					<h:outputText value="#{obra.dataPublicacao}" />
				</p:column>

				<p:column headerText="Data Exposicao">
					<h:outputText value="#{obra.dataExposicao}" />
				</p:column>
			</p:dataTable>

			<p:dialog id="obraDialog" header="Nova obra"
				widgetVar="obraDialogWidgetVar" modal="true" resizable="false"
				closeOnEscape="true">
				<p:messages id="obraMessages" />

				<p:defaultCommand target="salvarCommandButton" scope="obraDialog" />

				<h:panelGrid id="obraPanelGrid" columns="2"
					rendered="#{gestaoObrasBean.obra ne null}">
					<p:outputLabel value="Nome: " for="nome" />
					<p:inputText id="nome" size="5" maxlength="120"
						value="#{gestaoObrasBean.obra.nome}" />

					<p:outputLabel value="Descricao: " for="descricao" />
					<p:inputText id="descricao" size="10" maxlength="240"
						value="#{gestaoObrasBean.obra.descricao}" />



					<p:outputLabel value="Data Publicacao: " for="dataPublicacao" />
					<p:calendar id="dataPublicacao" pattern="dd/MM/yyyy" size="30"
						value="#{gestaoObrasBean.obra.dataPublicacao}" />

					<p:outputLabel value="Data Exposicao: " for="dataExposicao" />
					<p:calendar id="dataExposicao" pattern="dd/MM/yyyy" size="30"
						value="#{gestaoObrasBean.obra.dataExposicao}" />



					<p:commandButton id="salvarCommandButton" value="Salvar"
						actionListener="#{gestaoObrasBean.salvar}"
						update="obraPanelGrid obraMessages"
						oncomplete="if (!args.validationFailed) PF('obraDialogWidgetVar').hide()"
						process="obraDialog" />
				</h:panelGrid>
			</p:dialog>
		</h:form>

	</ui:define>

</ui:composition>